language: python
python:
- '2.6'
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
- nightly
- pypy
- pypy3
install:
- travis_retry pip install coveralls
script:
- coverage run --source=kdtree -m unittest
after_script:
- coveralls
sudo: false
deploy:
  provider: pypi
  user: skoegl
  password:
    secure: erzjPm4F7ETtX5j6qBvN9G13v4WENER8joF240xZ/XlvpjHbYRTifHrBl41fWFiuXHY4Y68JNsQ3stl6mHJnLqS+BqEeWC5r6nHQfoJu/TWx13fDojfzhu31Oswhy/JFLupiVyHATwK/7h42vALXUb1X7XgtR8Kb2bJeDUcXgRY=
  on:
    tags: true
  distributions: "sdist bdist_wheel"
